{% extends "base.html.twig" %}
{# on écrase le block title#}
{% block title %}
    Ajouter un produit
{% endblock %}

{# on écrase le bloc body #}
{% block body %}
    <h1>Ajouter un produit</h1>

{% endblock %}