{% extends "base.html.twig" %}
{# on écrase le block title#}
{% block title %}
    Modifier un produit
{% endblock %}

{# on écrase le bloc body #}
{% block body %}
    <h1>Modifier un produit</h1>

{% endblock %}