{#
on hérite du template "base.html.twig"
ça permet de récupérer la structure HTML de ce fichier
mais également de remplacer le contenu des "blocks"
#}
{% extends "base.html.twig" %}
{# on écrase le block title#}
{% block title %}
    Bienvenue !
{% endblock %}

{# on écrase le bloc body #}
{% block body %}
    <p>
        Page d'accueil<br>
        Pseudo: {{ pseudo }}
    </p>
    <ul>
        {# foreach($liste as $element)#}
        {% for element in liste %}
            <li>{{ element }}</li>
        {% endfor %}
    </ul>
    
{% endblock %}
